.loc{
    margin-left: 997px;
    margin-top: 120px;
}

.loc-card{
    border: none;
}

.pen{
    padding-inline-start:90px ;
}

hr{
    color:#B8B8B8;
}

.title{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
}

.txt{
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #000000;
opacity: 0.5;
}

@media only screen and (max-width: 600px){
    .loc{
        display: none;
    }
}