.menu{
    position: absolute;
    width: 1040px;
    height: 88px;
    left: 200px;
    top: 512px;
    border-style: none;
    border-bottom: 1px solid #E0E0E0;
}
.menuopt{
    position: absolute;
    margin-block-start: 35px;
}

.list-group-item{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border-style: none;
    padding-bottom: 20px; 
    border-bottom: 1px solid #E0E0E0;
}

#menuopt1{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.btn1{
    position: absolute;
    width: 133px;
    height: 36px;
    left: 760px;
    top: 35px;
    background: #EDEEF0;
    border-radius: 4px;
    color: black;
    border: none;
}

.btn1-icon{
    padding-inline-start: 10px;
}
.btn2{
    position: absolute;
width: 125px;
height: 36px;
left: 915px;
top: 35px;
color: white;
background: #2F6CE5;
border-radius: 4px;
border: none ;
font-style: normal;
font-weight: 500;
font-size: 15px;
}

.btn2-icon{
padding-inline-end: 50px;
}